html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	opacity: .95;
	background-attachment: fixed;
	background-image: url("http://img08.deviantart.net/25db/i/2013/215/a/3/bubble_background_by_diversekitty-d6giw39.png");
/* 		background-image: url("WebContent/img/background-image.png");
 */
 }
 
 h1, h2, h3, 
 h4, h5, h6 {
 	font-family: "Verdana";
 }
 
 .navbar {
 	margin-bottom: 0;
 }

body > .container {
	min-height: 91vh;
}

img.icon {
	width: 100%;
	padding: 0 20%;
}

.indication {
	text-align: center;
}

.actions {
	width: 80px;
}
